PL_MVC/Connected Services/UsuarioReference/CRUD.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="CRUD" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56102/CRUD.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56102/CRUD.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56102/CRUD.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ML" />
      <xsd:import schemaLocation="http://localhost:56102/CRUD.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:56102/CRUD.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SL_WCF" />
      <xsd:import schemaLocation="http://localhost:56102/CRUD.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICRUD_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ICRUD_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ICRUD_usuarioGetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:usuarioGetAll" />
  </wsdl:message>
  <wsdl:message name="ICRUD_usuarioGetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:usuarioGetAllResponse" />
  </wsdl:message>
  <wsdl:message name="ICRUD_usuarioUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:usuarioUpdate" />
  </wsdl:message>
  <wsdl:message name="ICRUD_usuarioUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:usuarioUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ICRUD_usuarioDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:usuarioDelete" />
  </wsdl:message>
  <wsdl:message name="ICRUD_usuarioDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:usuarioDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ICRUD_usuarioAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:usuarioAdd" />
  </wsdl:message>
  <wsdl:message name="ICRUD_usuarioAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:usuarioAddResponse" />
  </wsdl:message>
  <wsdl:message name="ICRUD_usuarioGetById_InputMessage">
    <wsdl:part name="parameters" element="tns:usuarioGetById" />
  </wsdl:message>
  <wsdl:message name="ICRUD_usuarioGetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:usuarioGetByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="ICRUD">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRUD/DoWork" message="tns:ICRUD_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRUD/DoWorkResponse" message="tns:ICRUD_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="usuarioGetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRUD/usuarioGetAll" message="tns:ICRUD_usuarioGetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRUD/usuarioGetAllResponse" message="tns:ICRUD_usuarioGetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="usuarioUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRUD/usuarioUpdate" message="tns:ICRUD_usuarioUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRUD/usuarioUpdateResponse" message="tns:ICRUD_usuarioUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="usuarioDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRUD/usuarioDelete" message="tns:ICRUD_usuarioDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRUD/usuarioDeleteResponse" message="tns:ICRUD_usuarioDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="usuarioAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRUD/usuarioAdd" message="tns:ICRUD_usuarioAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRUD/usuarioAddResponse" message="tns:ICRUD_usuarioAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="usuarioGetById">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRUD/usuarioGetById" message="tns:ICRUD_usuarioGetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRUD/usuarioGetByIdResponse" message="tns:ICRUD_usuarioGetById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICRUD" type="tns:ICRUD">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ICRUD/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="usuarioGetAll">
      <soap:operation soapAction="http://tempuri.org/ICRUD/usuarioGetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="usuarioUpdate">
      <soap:operation soapAction="http://tempuri.org/ICRUD/usuarioUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="usuarioDelete">
      <soap:operation soapAction="http://tempuri.org/ICRUD/usuarioDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="usuarioAdd">
      <soap:operation soapAction="http://tempuri.org/ICRUD/usuarioAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="usuarioGetById">
      <soap:operation soapAction="http://tempuri.org/ICRUD/usuarioGetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CRUD">
    <wsdl:port name="BasicHttpBinding_ICRUD" binding="tns:BasicHttpBinding_ICRUD">
      <soap:address location="http://localhost:56102/CRUD.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>